* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 2rem;
  background-color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  height: max-content;
  text-align: center;
  background-color: pink;
}

.search-section {
  margin-top: 1rem;;
}

.download-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  margin-top: 1rem;
  gap: 3rem;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-width: 5px;
  background-color: rgb(240, 237, 237);
}

.breed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

.breed-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.breed-name {
  font-size: 1.2rem;
}

footer p {
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}